html,
body,
#root {
  height: 100%;
  --test: #678d6f;
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

ul {
  padding: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.dot {
  position: relative;
  display: inline;
  &::after {
    content: '';
    position: absolute;

    top: 50%;
    width: 5px;
    height: 5px;

    background: currentColor;

    border-radius: 50%;
    transform: translateY(-50%);
  }
}
